<div class="container mt-3 bg-light py-5">
    <h1 class="display-5 fw-bold">Knowledge check point</h1>
    <p class="col-md-8 fs-4">This quiz will contain total 10 questions. Each question holds 10 points</p>
    <h4>Rules: </h4>
    <ol>
        <li>Correct question gives you 10 points</li>
        <li>Incorrect question gives to -10 points</li>
        <li>You will have 10 sec to answer each question</li>
        <li>Do not refresh the page, it will reset the quiz</li>
    </ol>
    <h2 style="font-family: cursive;text-align:center">All the best</h2>

    <div class="name col-md-4 my-3">
        <label for="">Enter your name: </label>
        <input #name type="text" class="form-control">
        
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start</button>
</div>