<br>
<br>
    
        <div class="container form sign-in ml-5" style="margin-left: 150px;">
            <h2>Welcome</h2>
            <label>
                <span>Email</span>
                <input type="email" [(ngModel)]="loginObj.email"/>
            </label>
            <label>
                <span>Password</span>
                <input type="password" [(ngModel)]="loginObj.password"/>
            </label>
            <p class="forgot-pass">Forgot password?</p>
            <button type="button" class="submit" (click)="onLogin()">login</button>
         
        </div>
      
                
                 
